.chat {
  width: 80vw;
}

.chart-wrapper {
  background-color: white;
  padding: 16px;
}

.bold {
  font-weight: bold;
}

@media screen and (max-device-width: 812px) {
  .chat {
    width: 100vw;
    position: absolute;
    bottom: 0;
  }
}
